.container {
    position: relative;
    margin-right: 1rem;
}

.search {
    border: 1px solid #2e7d32;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 14px;
    padding: 8px;
    width: 100%;
    color: #2e7d32;
    outline: solid 2px #2e7d32;
    margin: 0 0.5rem;
}

.results {
    list-style: none;
    overflow: hidden;
    margin: 4px 0 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: auto;
    background-color: #ffffff;
    box-shadow: 2px 2px 8px rgb(242 255 219 / 30%);
    border-radius: 8px;
    min-width: 230px;
    max-width: 50vw;
    max-height: 78vh;
    overflow: auto;
}

.result {
    /*background: #0070f3;*/
    color: #2e7d32;
    margin: 0 0 9px;
}

.result a {
    color: #2e7d32;
    display: block;
    padding: 8px;
}
